<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Contactanos</title>
</head>
<body>
    <a class="buttonbacklogin" href="login.hbs">Back</a>
    <div class="container-formcontact">
        <div class="container-info">
            <h2>Contactanos</h2>
            <p>Si necesitas ayuda contactanos con las siguientes informaciones.</p>
            <a href="#">829-441-8745</a>
            <a href="#">srosadotaveras@hotmail.com</a>
            <a href="#">Republica Dominicana</a>

        </div>

        <form>
        
             <h2>Contactanos</h2>
            <input type="text" placeholder="Nombre" class="campo" id="nombre">
            <input type="text" placeholder="Email" class="campo" id="correo">
            <textarea name="" placeholder="Ingresa el mensaje" id="ingresamensaje"></textarea>
            <input class="submitenviar" type="submit" value="Enviar" id="enviar" onclick="enviarmsg()">
            
        </form>

    </div>
    
    

</body>
</html>