<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/main.css">
</head>
<body>
    
    <form class="container-login">
        <img class="login-img" src="../img/user.png" alt="">
        <h2 class="textlogin">LOGIN</h2>
        <input type="text" placeholder="Username" id="username"> 
        <input type="password" placeholder="Password" id="password">
        <input class="button" type="button" value="Login" onclick="login()">
        
        <a class="button" href="register.html">
            Register
        </a>
        <a class="button"   href="contactwith.html">
            Contact
        </a>
        <a href="#">Forgot the password</a>
        
        
    </form>

    
    
        
   


</body>
</html>